@charset "UTF-8";

header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background: #218BC3;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}