@charset "UTF-8";

body {
    background-color: #98EFFC !important;
}

body, input, button {
    font-family: 'Oswald', sans-serif;
}

header {
    width: auto;
    height: 80px;
    position: fixed;
    padding: 15px;
    top: 0;
    right: 0;
    left: 0;
    background: #218BC3;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

header input {
    width: 100%;
    right: 0;
    left: 0;
    height: 50px;
    float: left;

    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-indent: 18px;
    padding: 0 60px 0 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px 25px 25px 5px;
    border: 0px;
    box-shadow: none;
    outline: none;

    -webkit-appearance: none;
    -moz-appearance: none;
}

header input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
}

header input:-moz-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
}

header input::-moz-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
}

header input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
}

header button {
    width: 50px;
    height: 50px;

    position:absolute;
    top:15px;
    right:15px;
    z-index:2;

    border-radius: 25px;
    background: #fff;
    border: 0px;
    box-shadow: none;
    outline: none;
    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
}

header button span {
    font-size: 20px;
    color: #218BC3;
}